@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 400 700;
  src: url(https://fonts.gstatic.com/l/font?kit=H4chBXePl9DZ0Xe7gG9cyOj7oqOEGdTTlj2o6FDyReEVY25S-Mk47aJ2Gr92agIU7lD5DbfY1YuOQTqn7OTe5iSCJfVYk04UUgT9TxXE1LbxLN9JFJgFnFEU0MDxrkhnYMmIjLAtvlvjnJq8lTuDqfxI08uXQochXwSlaTtFRJBJ6wIPBRIMew&skey=37fe335b8fd815cc&v=v35) format('woff2');
  unicode-range: U+4e00, U+4e0b, U+4e2d, U+4eba, U+4ecd, U+4eec, U+4f1a, U+4f7f, U+540d, U+542f, U+5458, U+5728, U+5b57-5b58, U+5f55, U+6211, U+6709, U+67e5, U+6848, U+6863, U+6b21, U+6bcf, U+73cd, U+7528, U+7559, U+767b, U+7684, U+79c1, U+7a0b, U+7eb8, U+8336, U+85cf, U+8bb0, U+8bdd, U+8c03, U+8ff7, U+96fe, U+9986;
}
